fastapi
pydantic
# pandas>=2.2.3  # Temporarily disabled for test environment
pyarrow>=18.0.0
duckdb
langchain
langchain-community
groq
qdrant-client
psycopg2-binary
python-dotenv
uvicorn[standard]
pytest
pinecone
sentence-transformers
httpx